# Ignore all data in the Data folder
MelbourneAnalysis/Data/*

# Ignore all results and output folders
results/
Outputs/

# Ignore __pycache__ but keep ones in subdirectories (if needed)
__pycache__

# Ignore specific files
Regridding/
*.dat
*.pdf
*desktop.ini
/Notes/*
*.xlsx
*.csv
*.PickleFiles/
**/*.PickleFiles/
**/*.fit.sav
*.pkl

# R and stgm stuff
.Rproj.user
.Rhistory
rosm.cache/
stgam_files

# Ignore .ipynb_checkpoints in all subdirectories
.ipynb_checkpoints
.virtual_documents

# Mac system files
.DS_Store

# Vim swap files
*.swp

# Specific files added by Nick
MelbourneAnalysis/Street_Network/Pedestrian_network.json
MelbourneAnalysis/Street_Network/Property_centroid.json


